<form action="/admin/recent/edit" method="post" enctype="multipart/form-data">
<div class="mb-3">
            <label for="exampleInputImage" class="form-label">Image</label>
            <input type="hidden" value="{{recent.image}}" name="oldImg">
            <input value="{{recent.image}}" name="image" type="file" class="form-control" id="exampleInputImage" aria-describedby="emailHelp">
        </div>
         <div class="mb-3">
        <label for="exampleInputEmail4" class="form-label">title</label>
        <input value="{{recent.title}}" name="title" type="text" class="form-control" id="exampleInputEmail4"
            aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">comment</label>
        <input value="{{recent.comment}}" name="comment" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>
     <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">price</label>
        <input value="{{recent.price}}" name="price" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>
         <div class="mb-3">
        <label for="exampleInputEmail4" class="form-label">description</label>
        <input value="{{recent.description}}" name="description" type="text" class="form-control" id="exampleInputEmail4"
            aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">btnName</label>
        <input value="{{recent.btnName}}" name="btnName" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>
     <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">like</label>
        <input value="{{recent.like}}" name="like" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>
    <input name="id" type="hidden" value="{{recent._id}}">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<form action="/admin/recent/delete" method="post">
    <input name="id" type="hidden" value="{{recent._id}}">
    <td><button class="btn btn-danger my-4">Delete</button></td>
</form>