<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto shadow rouded p-4">
            {{#if awesome}}
            <form action="/admin/awesome/edit" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">ikonka</label>
                    <input value="{{awesome.ikonka}}" type="text" class="form-control" id="exampleFormControlInput9"
                        name="ikonka" required />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">title</label>
                    <input value="{{awesome.title}}" type="text" class="form-control" id="exampleFormControlTextarea9" 
                        name="title"></input>
                        <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">comment</label>
                    <input value="{{awesome.manzil}}" type="text" class="form-control" id="exampleFormControlTextarea9" 
                        name="manzil"></input>
                       <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">comment</label>
                    <input value="{{awesome.comment}}" type="text" class="form-control" id="exampleFormControlTextarea9" 
                        name="comment"></input> 
                </div>
                <input type="hidden" name="id" value="{{awesome.id}}">
                <button class="btn btn-primary">Saqlash</button>
                </form>
                <form action="/admin/awesome/delete" method="POST">
                <input type="hidden" name="id" value="{{awesome.id}}">
                 <button type="submit" class="btn btn-danger my-4">O'chirish</button>
                 </form>
{{/if}}
        </div>
    </div>
</div>